{erl_opts, [
    [ebin, ebin\/base]
    {parse_transform, pmod_pt},
    {parse_transform, lager_transform},
    {d, 'LIVE'},
    {d, debug},
    debug_info,
    report,
    verbose,
    % warn_export_all,
    % warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import
    % do NOT include warnings_as_errors, as rebar includes these options
    % when compiling for eunit, and at least one test module has code that
    % is deliberatly broken and will generate an un-maskable warning
]}.
