{erl_first_files, ["src/lager/lager_util.erl", "src/lager/lager_transform.erl", 
                   "src/cowboy/cowboy_middleware.erl", "src/cowboy/cowboy_sub_protocol.erl",
                   "src/ranch/ranch_protocol.erl"]}.

{erl_opts, [
    {i, "include"},
    {parse_transform, pmod_pt},
    {parse_transform, lager_transform},
    {d, debug},
    {d, 'LIVE'},
    debug_info,
    report,
    verbose,
    % warn_export_all,
    % warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import
]}.
